<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="author" content="Menakadevi Sundaramoorthy" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Heart care | Contact</title>
    <link rel="shortcut icon" href="{% static 'news/images/news.png' %}" type="image/x-icon" />
    <link rel="stylesheet" href="{% static 'news/css/style.css' %}" />
    <script src="{% static 'news/js/script.js' %}"></script>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap" rel="stylesheet" />

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet" />
    <link href="{% static 'lib/slick/slick.css' %}" rel="stylesheet" />
    <link href="{% static 'lib/slick/slick-theme.css' %}" rel="stylesheet" />
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/easing/easing.min.js' %}"></script>
    <script src="{% static 'lib/slick/slick.min.js' %}"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
  </head>
  <body>
    <div class="top-bar">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="tb-contact">
              <p>
                <i class="fas fa-envelope"></i>info@mail.com
              </p>
              <p>
                <i class="fas fa-phone-alt"></i>+012 345 6789
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="tb-menu">
              <a href="">About</a>
              <a href="">Privacy</a>
              <a href="">Terms</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="brand">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-2 col-md-2">
            <div class="b-logo">
              <div class="header_flex_item" style="justify-content:left" onclick="onLogoClick()">
                <img src="{% static 'news/images/heart-logo.png' %}" class="logo_animation logo" />
                <p class="logo">
                  Heart
                  <br />
                  Care
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-4">
            <div class="b-ads">
              <a href="#"><img src="{% static 'news/images/ad_banner.png' %}" alt="Ads" /></a>
            </div>
          </div>
          <div class="col-lg-3 col-md-4">
            <div class="b-search">
              <input type="text" placeholder="Search" />
              <button><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nav-bar">
      <div class="container">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
          <a href="#" class="navbar-brand">MENU</a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse"><span class="navbar-toggler-icon"></span></button>

          <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav mr-auto">
              <a href="/news/home" class="nav-item nav-link">Home</a>
              <a href="/news/contact" class="nav-item nav-link active">Contact Us</a>
            </div>
            <div class="social ml-auto">
              <a href="/news/home"><i class="fab fa-twitter"></i></a>
              <a href="/news/home"><i class="fab fa-facebook-f"></i></a>
              <a href="/news/home"><i class="fab fa-linkedin-in"></i></a>
              <a href="/news/home"><i class="fab fa-instagram"></i></a>
              <a href="/news/home"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <!-- Contact Start -->
    <div class="contact">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-8">
            <div class="contact-form">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <input type="text" class="form-control" placeholder="Your Name" />
                  </div>
                  <div class="form-group col-md-6">
                    <input type="email" class="form-control" placeholder="Your Email" />
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Subject" />
                </div>
                <div class="form-group">
                  <textarea class="form-control" rows="5" placeholder="Message"></textarea>
                </div>
                <div>
                  <button class="btn" type="submit">Send Message</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-4">
            <div class="contact-info">
              <h3>Get in Touch</h3>
              <p>
                <i class="fa fa-map-marker"></i> Berlin, Germany
              </p>
              <p>
                <i class="fa fa-envelope"></i> menakadevisundaramoorthy@gmail.com
              </p>
              <p>
                <i class="fa fa-phone"></i> +0123-456-789
              </p>
              <div class="social">
                <a href=""><i class="fab fa-twitter"></i></a>
                <a href=""><i class="fab fa-facebook-f"></i></a>
                <a href=""><i class="fab fa-linkedin-in"></i></a>
                <a href=""><i class="fab fa-instagram"></i></a>
                <a href=""><i class="fab fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Contact End -->

    <footer class="footer">
      <div class="container text-center">
        <span class="text-muted">©2024 <a href="https://menakadevisundaramoorthy.com/">Menakadevi Sundaramoorthy</a></span>
      </div>
    </footer>
  </body>
</html>
